.App {
  background-color: rgb(26, 29, 41);
  text-align: left;
  color: white;
  font-family: Avenir-Light, Arial, Helvetica, sans-serif;
}

#header {
  padding-top: 25px;
  padding-left: 75px;
}

#movieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 25px;
  padding-left: 75px;
  padding-right: 75px;
}